body {
	background-color: lightgrey;
	text-align: center;
}

a {
	font-size: 24px;
	font-weight: 700;
	color: blue;
	text-decoration: none;
}

h1 {
	color: darkblue;
	text-decoration: underline;
	text-align: center;
	font-size: 40px;
}

footer {
	text-align: center;
	color: darkblue;
	font-size: 16px;
}